body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 16px 64px 64px 64px;;
    align-items: center;

}

header .left {
    font-size: 24px;
    font-weight: 500;
    color: #F9FAF8;
    
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
      
}

header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.panelOne {
    display: flex;
    padding: 16px 64px 64px 64px;
    gap: 32px;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.panelOne .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 600px;
}

.panelOne button {
    width: 100px;
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
    color: #F9FAF8;
    padding: 6px 10px;
    font-weight: 900;
}

.panelOne .right {
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 200px;
    max-width: 600px;
}

.panelOne h1 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
   
}

.panelOne p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0 0 8px 0;
}

.panelTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 64px 48px 64px;
    flex: 1;
}

.panelTwo h2 {
    margin-bottom: 36px;
}

.cardContainer {
    display: flex;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    gap: 12px;
}

.cardBox {
    width: 125px;
    height: 125px;
    border: solid 3px #3882F6;
    border-radius: 10%;

}

.quotePanel {
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 64px;
    flex: 1;

}

.quoteBox {
    display: flex;
    flex-direction: column;
}
.quoteText {
    width: 600px;
    font-size: 36px;
    font-weight: 100;
}

.quoteAuthor {
    align-self: flex-end;
    font-weight: 500;
}

.actionPanel {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
    flex: 1;
}

.actionBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    background-color: #3882F6;
    color: #F9FAF8;
    flex: 1;
    max-width: 700px;
    padding: 32px 98px 32px 64px;
    border-radius: 6px;
    
}

.actionLeft h4, .actionLeft p {
    margin: 0;
}


.actionButton {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 4px 24px;
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
    padding: 32px 64px;

}